<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope
         itemprop="blogPost">
    <div class="article-meta">
        <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
        <%- partial('post/category') %>
        <%- partial('post/updated') %>
    </div>
    <div class="article-inner">
        <%- partial('post/gallery') %>
        <% if (post.link || post.title){ %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title', nav: 0 }) %>
            </header>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
            <% if (post.excerpt && index){ %>
                <%- post.excerpt %>
                <% if (config.excerpt_lint || theme.excerpt_link){ %>
                    <p class="article-more-link">
                        <a href="<%- url_for(post.path) %>#more"><%= config.excerpt_lint || theme.excerpt_link %></a>
                    </p>
                <% } %>
            <% } else { %>
                <%- post.content %>
            <% } %>
        </div>
        <footer class="article-footer">
            <%- partial('post/tag') %>
        </footer>
    </div>

    <!--    <% if (!index){ %>-->
    <!--        <%- partial('post/nav') %>-->
    <!--    <% } %>-->

    <% if (!index && post.comments){ %>
        <div id="comments" class="archive-article-inner">
        </div>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1.5.x/dist/gitalk.css">
        <script src="https://cdn.jsdelivr.net/npm/gitalk@1.5.x/dist/gitalk.min.js"></script>
        <script>
          var gitalk = new Gitalk({
            clientID: '6285864ec38569eb5cc9',
            clientSecret: 'a118015f2dc4a5cede0e13897db720f00f335571',
            repo: 'Blog',
            owner: 'Trim21',
            admin: ['Trim21'],
            accessToken: 'f166d6531eee6cc9f06fc86a52367f0552e695b9',   // IMPORTANT !!!
            id: "<%= post.slug %>",      // Ensure uniqueness and length less than 50
            distractionFreeMode: false  // Facebook-like distraction free mode
          })
          gitalk.render('comments')
        </script>
    <% } %>
</article>

