<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <% var years = []
      site.posts.forEach(function (item) {
        years.push(item.date.year())
      })
      var minYear = Math.min(...years)
      var maxYear = Math.max(...years)
      %>
      &copy; <%= minYear %> - <%= maxYear %> <a href="mailto:<%= config.email %>"><%= config.author || config.title %>&lt;<%= config.email %>&gt;</a><br>
      Powered by <a href="//hexo.io/" target="_blank">Hexo</a>
      .
      Theme by <a href="https://github.com/Trim21/blog/tree/master/themes/landscape-plus" target="_blank">Patched Landscape-plus</a>
    </div>
  </div>
</footer>
